<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="73.1.13" targetFramework="net46" />
  <package id="cef.redist.x86" version="73.1.13" targetFramework="net46" />
  <package id="CefSharp.Common" version="86.0.241" targetFramework="net46" />
  <package id="CefSharp.WinForms" version="73.1.130" targetFramework="net46" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.111.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net46" />
  <package id="System.Data.SQLite.EF6" version="1.0.111.0" targetFramework="net46" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net46" />
</packages>